<h2>Add a new Dog!</h2>

<form action="/dogs" method="post">
  <input type="text" name="dog[name]" id="" value="" placeholder="Name of dog"/>
  <input type="text" name="dog[breed]" id="" value="" placeholder="Breed of dog"/>
  <input type="submit" name="" id="" value="Add a dog!" />
</form>
