<h2>Add a new Dog!</h2>

<form action="/dogs" method="post">
  <label for="name">Name:</label>
  <input type="text" name="dog[name]" id="name" value="" placeholder="Name of dog"/><br/>
  <label for="breed">Breed:</label>
  <input type="text" name="dog[breed]" id="breed" value="" placeholder="Breed of dog"/><br/>
  <input type="submit" name="" id="" value="Add a dog!" />
</form>
