<div id='<%= user.id %>'  class='user'>
  <div class='name'>
    <%= user.first_name %> <%= user.last_name %>
  </div>
  <div class='email'>
  </div>
  <div class='actions'>
    <a href='#' class='user-email'>Email</a> &nbsp;|&nbsp;
    <a href='#' class='edit-user'>Edit</a>
  </div>
</div>
