<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <title></title>
</head>
<body>
<div id="content">
  <header>
    <a href="/"><img src="/img/zenchinese.png" class="logo"></a>
    <div id="login-toolbar">
      <% if session[:user_id] %>
        <form action='/session' method='post'>
          <input type='hidden' name='_method' value='delete' />
          <input type='submit' value="logout" />
        </form>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
  </header>
  <%= yield %>
</div>
</body>
</html>
